    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="cart-table">
                      <table>
                          <thead>
                              <tr>
                                  <th class="text-white">Image</th>
                                  <th class="p-name text-white">Product Name</th>
                                  <th class="text-white">Price</th>
                                  <th class="text-white">Quantity</th>
                                  <th class="text-white">Total</th>
                                  <th><i class="ti-close text-white"></i></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="cart-pic first-row"><img src="assets/images/112.jpg" alt=""></td>
                                  <td class="cart-title first-row">
                                      <h5 class="text-white">Pure Pineapple</h5>
                                  </td>
                                  <td class="p-price first-row">$60.00</td>
                                  <td class="qua-col first-row">
                                      <div class="quantity">
                                          <div class="pro-qty">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="total-price first-row">$60.00</td>
                                  <td class="close-td first-row"><i class="ti-close"></i></td>
                              </tr>
                              <tr>
                                  <td class="cart-pic"><img src="assets/images/112.jpg" alt=""></td>
                                  <td class="cart-title">
                                      <h5 class="text-white">American lobster</h5>
                                  </td>
                                  <td class="p-price">$60.00</td>
                                  <td class="qua-col">
                                      <div class="quantity">
                                          <div class="pro-qty">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="total-price">$60.00</td>
                                  <td class="close-td"><i class="ti-close"></i></td>
                              </tr>
                              <tr>
                                  <td class="cart-pic"><img src="assets/images/112.jpg" alt=""></td>
                                  <td class="cart-title">
                                      <h5 class="text-white">Guangzhou sweater</h5>
                                  </td>
                                  <td class="p-price">$60.00</td>
                                  <td class="qua-col">
                                      <div class="quantity">
                                          <div class="pro-qty">
                                              <input type="text" value="1">
                                          </div>
                                      </div>
                                  </td>
                                  <td class="total-price">$60.00</td>
                                  <td class="close-td"><i class="ti-close text-white"></i></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="cart-buttons">
                              <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                              <a href="#" class="primary-btn up-cart">Update cart</a>
                          </div>
                          <div class="discount-coupon">
                              <h6 class="text-white-50">Discount Codes</h6>
                              <form action="#" class="coupon-form">
                                  <input type="text" placeholder="Enter your codes">
                                  <button type="submit" class="site-btn coupon-btn">Apply</button>
                              </form>
                          </div>
                      </div>
                      <div class="col-lg-4 offset-lg-4">
                          <div class="proceed-checkout">
                              <ul>
                                  <li class="subtotal">Subtotal <span>$240.00</span></li>
                                  <li class="cart-total">Total <span>$240.00</span></li>
                              </ul>
                              <a routerLink="../checkout" class="proceed-btn">PROCEED TO CHECK OUT</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Shopping Cart Section End -->
