   <!-- Women Banner Section Begin -->
   <section class="women-banner spad">
    <div class="container-fluid">
        <div class="row text-white">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="assets/images/2.jpg" style="height: 450px;">
                    <h2>Category</h2>
                    <a routerLink="shop">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Categories</li>
                        <li>Essentials</li>
                        <li>Others</li>
                        <li>Accessories</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/images/3.jpg" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a routerLink="product">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Snakes</div>
                            <a routerLink="products">
                                <h5 class="text-white">Amarican Laze</h5>
                            </a>
                            <div class="product-price">
                                $14.00
                                <span>$35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/images/4.jpg" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a routerLink="product">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Notebook</div>
                            <a href="#">
                                <h5 class="text-white">Classic Notes</h5>
                            </a>
                            <div class="product-price">
                                $13.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/images/5.png" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a routerLink="product">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Item</div>
                            <a href="#">
                                <h5 class="text-white">Pure Pineapple</h5>
                            </a>
                            <div class="product-price">
                                $34.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/images/6.png" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a routerLink="product">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Cold Drink</div>
                            <a href="#">
                                <h5 class="text-white">Item Name</h5>
                            </a>
                            <div class="product-price">
                                $34.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->
                  <!-- <div class="product-slider owl-carousel">
                      <div class="product-item">
                          <div class="pi-pic">
                              <img src="assets/img/products/women-1.jpg" alt="">
                              <div class="sale">Sale</div>
                              <div class="icon">
                                  <i class="icon_heart_alt"></i>
                              </div>
                              <ul>
                                  <li class="w-icon active"><a routerLink="../product"><i class="icon_bag_alt"></i></a></li>
                                  <li class="quick-view"><a routerLink="../product">+ Quick View</a></li>
                                  <li class="w-icon"><a routerLink="../product"><i class="fa fa-random"></i></a></li>
                              </ul>
                          </div>
                          <div class="pi-text">
                              <div class="catagory-name">Coat</div>
                              <a routerLink="../product">
                                  <h5>Pure Pineapple</h5>
                              </a>
                              <div class="product-price">
                                  $14.00
                                  <span>$35.00</span>
                              </div>
                          </div>
                      </div>
                      <div class="product-item">
                          <div class="pi-pic">
                              <img src="assets/img/products/women-2.jpg" alt="">
                              <div class="icon">
                                  <i class="icon_heart_alt"></i>
                              </div>
                              <ul>
                                  <li class="w-icon active"><a routerLink="../product"><i class="icon_bag_alt"></i></a></li>
                                  <li class="quick-view"><a routerLink="../product">+ Quick View</a></li>
                                  <li class="w-icon"><a routerLink="../product"><i class="fa fa-random"></i></a></li>
                              </ul>
                          </div>
                          <div class="pi-text">
                              <div class="catagory-name">Shoes</div>
                              <a routerLink="../product">
                                  <h5>Guangzhou sweater</h5>
                              </a>
                              <div class="product-price">
                                  $13.00
                              </div>
                          </div>
                      </div>
                      <div class="product-item">
                          <div class="pi-pic">
                              <img src="assets/img/products/women-3.jpg" alt="">
                              <div class="icon">
                                  <i class="icon_heart_alt"></i>
                              </div>
                              <ul>
                                  <li class="w-icon active"><a routerLink="../product"><i class="icon_bag_alt"></i></a></li>
                                  <li class="quick-view"><a routerLink="../product">+ Quick View</a></li>
                                  <li class="w-icon"><a routerLink="../product"><i class="fa fa-random"></i></a></li>
                              </ul>
                          </div>
                          <div class="pi-text">
                              <div class="catagory-name">Towel</div>
                              <a routerLink="../product">
                                  <h5>Pure Pineapple</h5>
                              </a>
                              <div class="product-price">
                                  $34.00
                              </div>
                          </div>
                      </div>
                      <div class="product-item">
                          <div class="pi-pic">
                              <img src="assets/img/products/women-4.jpg" alt="">
                              <div class="icon">
                                  <i class="icon_heart_alt"></i>
                              </div>
                              <ul>
                                  <li class="w-icon active"><a routerLink="../product"><i class="icon_bag_alt"></i></a></li>
                                  <li class="quick-view"><a routerLink="../product">+ Quick View</a></li>
                                  <li class="w-icon"><a routerLink="../product"><i class="fa fa-random"></i></a></li>
                              </ul>
                          </div>
                          <div class="pi-text">
                              <div class="catagory-name">Towel</div>
                              <a routerLink="../product">
                                  <h5>Converse Shoes</h5>
                              </a>
                              <div class="product-price">
                                  $34.00
                              </div>
                          </div>
                      </div>
                  </div> -->

                  <!-- new courosal -->

                  <!-- <div class="wrapper">
                    <owl-carousel-o [options]="customOptions">

                      <ng-container *ngFor="let slide of apiData">
                        <ng-template class="slide" carouselSlide [id]="slide.id" [dotContent]="slide.id">

                          <div class="product-item mx-2">
                            <div class="pi-pic">
                              <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a routerLink="../product"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a routerLink="../product">+ Quick View</a></li>
                                    <li class="w-icon"><a routerLink="../product"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Shoes</div>
                                <a routerLink="slide.url">
                                    <h5>sweater {{slide.id}}</h5>
                                </a>
                                <div class="product-price">
                                    $13.00
                                </div>
                            </div>
                        </div>
                        </ng-template>
                      </ng-container>

                    </owl-carousel-o>
                  </div>
                </div>
          </div>
      </div>
  </section> -->
  <!-- Women Banner Section End -->
