::ng-deep .set-bg {
  background-size: cover !important;
}
::ng-deep .owl-carousel .owl-nav button.owl-next {
  color: #080202;
  font-size: 30px !important;
}
::ng-deep .owl-carousel .owl-nav button.owl-prev {
  color: #080202;
  font-size: 30px !important;
}
.hero-items .single-hero-items {
  height: 650px;
  padding-top: 210px;
}

