.sideNav {
  width:300px;
  background-color: #3f3e3e;
}

.example-container {
  background-color: #ffffff;
  color: #000 !important;
}

.txt-color {
  color: #000 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: black;
}
.mat-icon {
  color: aliceblue;
}
